Repository angristan/marge: changes, and which lefthook commands are due for each by the changed paths.
All: pint, phpstan, tests, biome, biome-embed, test-embed, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    pint:
      glob: "*.php"
      run: composer run pint:test
    phpstan:
      glob: "*.php"
      run: composer run phpstan
    tests:
      glob: "*.php"
      run: composer run test
    biome:
      glob: "*.{js,ts,tsx}"
      run: npm run lint
    biome-embed:
      glob: "embed/**/*.{js,ts,tsx}"
      run: npm run check --prefix embed
    test-embed:
      glob: "embed/**/*.{ts,tsx}"
      run: npm run test:run --prefix embed
    typecheck:
      glob: "*.{ts,tsx}"
      run: npm run typecheck

fix: improve embed error handling for validation errors
  embed/src/api.test.ts
  embed/src/api.ts
Due: biome, biome-embed, test-embed, typecheck

fix: hide notify toggle when posting as admin
  embed/src/components/CommentForm.tsx
Due: biome, biome-embed, test-embed, typecheck

feat: add Bulla logo to email templates
  resources/views/vendor/mail/html/header.blade.php
Due: pint, phpstan, tests

test: add tests for new comment notification
  tests/Feature/Email/NewCommentNotificationTest.php
Due: pint, phpstan, tests

docs: simplify development setup with composer run dev
  README.md
Due: none

docs: update README with import formats and claim feature
  README.md
Due: none

docs: streamline Quick Start section
  README.md
Due: none

feat: add unsubscribe from all option in notification emails
  app/Actions/Email/Unsubscribe.php
  app/Http/Controllers/EmailController.php
  app/Mail/ReplyNotificationMail.php
  resources/views/emails/reply-notification.blade.php
  routes/web.php
  tests/Feature/Email/UnsubscribeTest.php
Due: pint, phpstan, tests

docs: update API documentation to match implementation
  docs/api.md
Due: none

docs: update self-hosting guide and README
  README.md
  docs/self-hosting.md
Due: none

docs: add architecture section to README
  README.md
Due: none

feat: add Telegram integration for notifications and moderation
  README.md
  app/Actions/Admin/UpdateSettings.php
  app/Actions/Comment/CreateComment.php
  app/Actions/Comment/UpvoteComment.php
  app/Actions/Telegram/ProcessTelegramWebhook.php
  app/Actions/Telegram/SendTelegramNotification.php
  app/Actions/Telegram/SetupTelegramWebhook.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Models/Comment.php
  database/factories/CommentFactory.php
  database/migrations/2026_01_01_193600_add_telegram_message_id_to_comments_table.php
  docs/self-hosting.md
  resources/js/Pages/Settings/Index.tsx
  routes/admin.php
  routes/api.php
  tests/Feature/Telegram/ProcessTelegramWebhookTest.php
  tests/Feature/Telegram/SendTelegramNotificationTest.php
  tests/Feature/Telegram/SetupTelegramWebhookTest.php
Due: pint, phpstan, tests, biome, typecheck

fix: enforce max_depth visually by rendering capped replies as siblings
  embed/src/components/App.tsx
  embed/src/components/Comment.test.tsx
  embed/src/components/Comment.tsx
  embed/src/styles/embed.css
Due: biome, biome-embed, test-embed, typecheck

refactor: move Danger Zone to its own settings tab
  resources/js/Pages/Settings/Index.tsx
Due: biome, typecheck

feat: add Laravel Octane with FrankenPHP and revamp self-hosting setup
  .gitignore
  README.md
  composer.json
  composer.lock
  config/octane.php
  deploy/.env.compose
  deploy/Caddyfile
  deploy/Caddyfile.classic
  deploy/Caddyfile.octane
  deploy/Dockerfile
  deploy/docker-compose.yml
  deploy/entrypoint.sh
  deploy/php.ini
  docker-compose.yml
  docs/self-hosting.md
  public/frankenphp-worker.php
Due: pint, phpstan, tests

fix: configure TrustProxies middleware for HTTPS behind proxy
  bootstrap/app.php
Due: pint, phpstan, tests

fix: use ImageProxy for avatars in admin and API responses
  app/Actions/Admin/ListComments.php
  app/Http/Controllers/Admin/CommentsController.php
  app/Http/Controllers/Api/CommentController.php
  tests/Feature/Auth/CommenterAuthTest.php
Due: pint, phpstan, tests

refactor: extract avatar URL logic to Comment::avatarUrl()
  app/Actions/Admin/ListComments.php
  app/Actions/Thread/GetThreadComments.php
  app/Http/Controllers/Admin/CommentsController.php
  app/Http/Controllers/Api/CommentController.php
  app/Models/Comment.php
Due: pint, phpstan, tests

fix: use admin display name for Telegram replies
  app/Actions/Telegram/ProcessTelegramWebhook.php
Due: pint, phpstan, tests

feat: add page title to email subjects and reply body
  app/Mail/NewCommentNotificationMail.php
  app/Mail/ReplyNotificationMail.php
  resources/views/emails/reply-notification.blade.php
  tests/Feature/Email/NewCommentNotificationTest.php
Due: pint, phpstan, tests

docs: add screenshots to README
  README.md
  docs/assets/claim.png
  docs/assets/embed.png
  docs/assets/import.png
  docs/assets/telegram.png
Due: none

ci: add semantic releases for Docker images
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .releaserc.json
  commitlint.config.mjs
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

feat: add two-factor authentication for admin login
  README.md
  app/Actions/Admin/TwoFactor/DisableTwoFactor.php
  app/Actions/Admin/TwoFactor/EnableTwoFactor.php
  app/Actions/Admin/TwoFactor/GenerateRecoveryCodes.php
  app/Actions/Admin/TwoFactor/GenerateTwoFactorSecret.php
  app/Actions/Admin/TwoFactor/GetTwoFactorStatus.php
  app/Actions/Admin/TwoFactor/VerifyTwoFactorCode.php
  app/Http/Controllers/Admin/AuthController.php
  app/Http/Controllers/Admin/SettingsController.php
  composer.json
  composer.lock
  docs/self-hosting.md
  resources/js/Pages/Auth/TwoFactorChallenge.tsx
  resources/js/Pages/Settings/Index.tsx
  routes/admin.php
  tests/Feature/Admin/TwoFactorAuthTest.php
Due: pint, phpstan, tests, biome, typecheck

chore: remove laravel/sail dependency
  composer.json
  composer.lock
Due: none

Notes added by 'git notes add'
  a44582a57809dc005deb2ccec4dbac3c104ca179
Due: none

feat: add logo to login page
  resources/js/Pages/Auth/Login.tsx
Due: biome, typecheck

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4c72cbe1f422e54b6cbe31df81494424aeeefb24
Due: none

perf: load all settings in single query to avoid N+1
  app/Models/Setting.php
  tests/Feature/SettingTest.php
Due: pint, phpstan, tests

Notes added by 'git notes add'
  41a578ac1efd982f0d12d30ca2916dc82fe95991
Due: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
Due: none

Group Dependabot PRs by dependency category (#27)
  .github/dependabot.yml
Due: none

ci: group Symfony packages in Dependabot config
  .github/dependabot.yml
Due: none

fix: update dependencies to resolve security vulnerabilities
  composer.lock
  package-lock.json
Due: none

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3dcd37de5c2479767e1ffea72d5174724a535af6
Due: none

fix: strip setcap from frankenphp for PSS restricted compatibility
  deploy/Dockerfile
Due: none

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
Due: none
