Repository angristan/marge: changes, and which lefthook commands are due for each by the changed paths.
All: pint, phpstan, biome, biome-embed

pint:
  run: composer pint -- --test

phpstan:
  run: composer phpstan

biome:
  run: npx biome check

biome-embed:
  run: cd embed && npm run check

refactor: use npm run/composer run for hooks
  lefthook.yml
  package.json
Due: none

fix: sync preview 'auto' theme with admin panel theme
  resources/js/Pages/Preview.tsx
Due: biome

chore: add laravel/boost and MCP configuration
  .mcp.json
  AGENTS.md
  boost.json
  composer.json
  composer.lock
  opencode.json
Due: none

feat: add configurable comment depth with parent navigation
  app/Actions/Comment/CreateComment.php
  app/Actions/Import/ImportFromIsso.php
  app/Actions/Thread/GetThreadComments.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Api/CommentController.php
  app/Models/Comment.php
  bootstrap/app.php
  database/migrations/2025_12_30_182524_add_depth_to_comments_table.php
  embed/src/api.ts
  embed/src/components/Comment.tsx
  embed/src/styles/embed.css
  resources/js/Pages/Settings/Index.tsx
  tests/Feature/Admin/SettingsTest.php
  tests/Feature/Comment/CreateCommentTest.php
  tests/Feature/Thread/GetThreadCommentsTest.php
Due: pint, phpstan, biome, biome-embed

style: redesign comment action buttons
  embed/src/components/Comment.tsx
  embed/src/styles/embed.css
Due: biome, biome-embed

fix: remove duplicate thread display in widget preview
  resources/js/Pages/Preview.tsx
Due: biome

feat: remove maximum links per comment setting
  app/Actions/Admin/SetupAdmin.php
  app/Actions/Admin/UpdateSettings.php
  app/Actions/Spam/CheckSpam.php
  app/Http/Controllers/Admin/SettingsController.php
  resources/js/Pages/Settings/Index.tsx
  tests/Feature/Admin/SettingsTest.php
  tests/Feature/Spam/LinkCountTest.php
Due: pint, phpstan, biome

fix: use consistent avatars for anonymous commenters
  app/Actions/Admin/ListComments.php
  app/Actions/Thread/GetThreadComments.php
  app/Http/Controllers/Admin/CommentsController.php
  app/Http/Controllers/Api/CommentController.php
  app/Support/Gravatar.php
  tests/Unit/GravatarTest.php
Due: pint, phpstan

feat: add optional upvotes and downvotes
  README.md
  app/Actions/Admin/UpdateSettings.php
  app/Actions/Comment/DownvoteComment.php
  app/Actions/Thread/GetThreadComments.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Api/CommentController.php
  app/Http/Controllers/Api/ConfigController.php
  database/migrations/2025_12_30_234112_add_downvotes_to_comments_table.php
  embed/src/api.ts
  embed/src/components/Comment.tsx
  embed/src/styles/embed.css
  resources/js/Pages/Settings/Index.tsx
  routes/api.php
  tests/Feature/Comment/DownvoteCommentTest.php
Due: pint, phpstan, biome, biome-embed

docs: add descriptions to author name and email settings
  resources/js/Pages/Settings/Index.tsx
Due: biome

chore: remove unused mantine dependencies from embed
  embed/package-lock.json
  embed/package.json
Due: none

feat: add markdown preview to comment form
  README.md
  embed/src/components/Comment.tsx
  embed/src/components/CommentForm.tsx
  embed/src/styles/embed.css
Due: biome, biome-embed

feat: add comment sorting support
  README.md
  app/Actions/Thread/GetThreadComments.php
  app/Http/Controllers/Api/ThreadController.php
  docs/api.md
  docs/embedding.md
  embed/src/api.ts
  embed/src/components/App.tsx
  embed/src/index.tsx
  embed/src/styles/embed.css
  tests/Feature/Thread/GetThreadCommentsTest.php
Due: pint, phpstan, biome, biome-embed

chore: rename OapaskaOptions to MargeOptions
  embed/src/index.tsx
Due: biome, biome-embed

feat: remove email verification system
  README.md
  app/Actions/Admin/ListComments.php
  app/Actions/Comment/CreateComment.php
  app/Actions/Email/SendVerificationEmail.php
  app/Actions/Email/VerifyEmail.php
  app/Actions/Import/ExportToJson.php
  app/Actions/Import/ImportFromJson.php
  app/Actions/Thread/GetThreadComments.php
  app/Http/Controllers/Admin/CommentsController.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Api/CommentController.php
  app/Http/Controllers/EmailController.php
  app/Mail/CommentVerificationMail.php
  app/Models/Comment.php
  app/Models/EmailVerification.php
  database/factories/CommentFactory.php
  database/migrations/2025_01_01_000002_create_comments_table.php
  database/migrations/2025_01_01_000004_create_email_verifications_table.php
  database/migrations/2025_12_31_104042_remove_email_verification_system.php
  embed/src/api.ts
  embed/src/components/Comment.tsx
  resources/js/Pages/Comments/Index.tsx
  resources/js/Pages/Comments/Show.tsx
  resources/js/Pages/Settings/Index.tsx
  resources/views/emails/comment-verification.blade.php
  routes/web.php
  tests/Feature/Email/VerificationTest.php
  tests/Feature/Thread/GetThreadCommentsTest.php
Due: pint, phpstan, biome, biome-embed

feat: remove email from setup, update admin email description
  app/Actions/Admin/SetupAdmin.php
  app/Http/Controllers/Admin/SetupController.php
  resources/js/Pages/Settings/Index.tsx
  resources/js/Pages/Setup.tsx
  tests/Feature/Admin/AuthTest.php
  tests/Feature/Admin/CommentsTest.php
  tests/Feature/Admin/DashboardTest.php
  tests/Feature/Admin/SettingsTest.php
  tests/Feature/Admin/SetupTest.php
Due: pint, phpstan, biome

fix: update admin email descriptions
  resources/js/Pages/Settings/Index.tsx
  resources/js/Pages/Setup.tsx
Due: biome

feat: add customizable admin badge label setting
  app/Actions/Admin/UpdateSettings.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Api/ConfigController.php
  embed/src/api.ts
  embed/src/components/Comment.tsx
  resources/js/Pages/Settings/Index.tsx
  tests/Feature/Api/ConfigTest.php
Due: pint, phpstan, biome, biome-embed

test: add Vitest tests for embed widget
  .github/workflows/tests.yml
  embed/biome.json
  embed/package-lock.json
  embed/package.json
  embed/src/api.test.ts
  embed/src/components/App.test.tsx
  embed/src/components/Comment.test.tsx
  embed/src/components/CommentForm.test.tsx
  embed/src/components/GitHubLoginButton.test.tsx
  embed/src/test-setup.ts
  embed/vitest.config.ts
  lefthook.yml
Due: biome, biome-embed

feat: add accent color setting in admin appearance tab
  README.md
  app/Actions/Admin/UpdateSettings.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Api/ConfigController.php
  docs/embedding.md
  embed/src/api.ts
  embed/src/components/App.tsx
  resources/js/Pages/Settings/Index.tsx
  tests/Feature/Admin/SettingsTest.php
Due: pint, phpstan, biome, biome-embed

feat: add URL state encoding for admin tabs and preview settings
  resources/js/Pages/Import/Index.tsx
  resources/js/Pages/Preview.tsx
  resources/js/Pages/Settings/Index.tsx
  resources/js/hooks/useUrlState.ts
Due: biome

fix: truncate long commenter names in admin comments list
  resources/js/Pages/Comments/Index.tsx
Due: biome

refactor: rename from Marge to Bulla
  .github/workflows/tests.yml
  AGENTS.md
  README.md
  app/Actions/Admin/UpdateSettings.php
  app/Http/Controllers/Api/ConfigController.php
  deploy/php.ini
  docker-compose.yml
  docs/api.md
  docs/embedding.md
  docs/self-hosting.md
  embed/package-lock.json
  embed/package.json
  embed/src/components/App.test.tsx
  embed/src/components/App.tsx
  embed/src/components/Comment.tsx
  embed/src/components/CommentForm.tsx
  embed/src/components/GitHubLoginButton.tsx
  embed/src/index.tsx
  embed/src/styles/embed.css
  embed/vite.config.ts
  package-lock.json
  phpunit.pgsql.xml
  public/bulla.png
  public/favicon.ico
  resources/js/Layouts/AdminLayout.tsx
  resources/js/Pages/Auth/Login.tsx
  resources/js/Pages/Dashboard.tsx
  resources/js/Pages/Import/Index.tsx
  resources/js/Pages/Preview.tsx
  resources/js/Pages/Setup.tsx
  resources/js/app.tsx
  resources/views/app.blade.php
  resources/views/auth/github-callback.blade.php
Due: pint, phpstan, biome, biome-embed

fix: correct embed script path in admin dashboard
  resources/js/Pages/Dashboard.tsx
Due: biome

fix: use Bulla server URL instead of site URL in embed code
  resources/js/Pages/Dashboard.tsx
Due: biome

feat: scroll to and highlight new comments after posting
  embed/src/components/App.tsx
  embed/src/components/Comment.tsx
  embed/src/components/CommentForm.tsx
  embed/src/styles/embed.css
Due: biome, biome-embed

feat: improve dashboard graph to show monthly comments
  app/Actions/Admin/GetDashboardStats.php
  resources/js/Pages/Dashboard.tsx
  tests/Feature/Admin/DashboardTest.php
Due: pint, phpstan, biome

style: format embed components
  embed/src/components/App.tsx
  embed/src/components/Comment.tsx
Due: biome, biome-embed

chore: add Dependabot configuration for weekly updates
  .github/dependabot.yml
Due: none

feat: auto-enable notify toggle on GitHub login or email input
  embed/src/components/CommentForm.tsx
Due: biome, biome-embed

refactor: use npm scripts instead of npx in CI
  .github/workflows/lint.yml
  lefthook.yml
  package.json
Due: none

chore: update embed package-lock.json for biome v2
  embed/package-lock.json
Due: none

feat: add option to hide branding in admin settings
  app/Actions/Admin/UpdateSettings.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Api/ConfigController.php
  embed/src/api.ts
  embed/src/components/App.test.tsx
  embed/src/components/App.tsx
  resources/js/Pages/Settings/Index.tsx
Due: pint, phpstan, biome, biome-embed

chore: use vite build --watch for embed dev mode
  embed/package.json
  embed/src/styles/embed.css
Due: none

feat: add optional imgproxy support for avatars
  .env.example
  app/Actions/Thread/GetThreadComments.php
  app/Providers/AppServiceProvider.php
  app/Support/ImageProxy.php
  composer.json
  composer.lock
  config/services.php
  docs/self-hosting.md
  tests/Unit/ImageProxyTest.php
Due: pint, phpstan

feat: remove blocked IPs feature
  app/Actions/Admin/UpdateSettings.php
  app/Http/Controllers/Admin/SettingsController.php
  resources/js/Pages/Settings/Index.tsx
Due: pint, phpstan, biome

fix: use specific origin in postMessage for GitHub OAuth callback
  app/Http/Controllers/CommenterAuthController.php
  embed/src/api.test.ts
  embed/src/api.ts
  embed/src/components/Comment.test.tsx
  embed/src/components/CommentForm.test.tsx
  embed/src/components/CommentForm.tsx
  embed/src/components/GitHubLoginButton.test.tsx
  embed/src/components/GitHubLoginButton.tsx
  resources/views/auth/github-callback.blade.php
Due: pint, phpstan, biome, biome-embed

fix: use constant-time comparison for admin username verification
  app/Actions/Admin/AuthenticateAdmin.php
Due: pint, phpstan

fix: auto-trim trailing slashes from URL settings
  app/Actions/Admin/UpdateSettings.php
Due: pint, phpstan

feat: add dynamic validation for comment fields
  app/Actions/Comment/CreateComment.php
  app/Http/Controllers/Api/CommentController.php
  tests/Feature/Comment/CreateCommentTest.php
Due: pint, phpstan

Path conditions:
  pint: any of: *.php
  phpstan: any of: *.php
  biome: any of: *.{js,ts,tsx}
  biome-embed: any of: embed/**/*.{js,ts,tsx}
